* {
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../src/assets/wallpaperflare.com_wallpaper.webp) center / cover no-repeat fixed;
    background-color: #000;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hero {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.content {
    width: 100%;
    padding: 0 6em 7em;
}